@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");


:root[data-theme="dark"] {
  --color1: #1c1c1f;
  --color2: #31313c;
  --color3: #24242a;
  --text-color: #ebeef1;
  --button-text: white;
  --placeholder: #ebeef188;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.form-graph {
  width: 50%;
  height: 450px; 
  background-color: #12161C; /* Cambia este valor al color oscuro que prefieras */
  padding: 20px; /* Añade un padding para darle espacio a la gráfica dentro del cuadro */
  border-radius: 1.1rem;
  margin-bottom: 1rem;
  padding-left: 5px;
  padding-right: 5px;
  padding: 1.5rem;
}


.pagetitle{
  margin-bottom: 5px;
}

.w-full.h-full {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.w-full.h-full-2{
  display: flex;
  flex-direction: row;
}



.title-comp {
  font-size: 1.875rem;
  font-weight: bold;
}

.form-comp {
  width: 52%;
  height: 475px; /* Ajusta este valor según tus necesidades */
  font-weight: bold;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  color: whitesmoke;
  padding-left: 5px;
  padding-top: 1px;
}

.sub-titles-copm {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--text-color);
}

/* 
.text-sm.font-medium.leading-none.peer-disabled:cursor-not-allowed.peer-disabled:opacity-70 {
  font-size: 0.875rem;
  font-weight: medium;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  margin-bottom: 0.5rem;
}
 */

.card {
  background-color: #12161C;
  border-radius: 1.1rem;
  padding: 2rem;
  /* margin-top: 1rem; */
}

.card label {
  color: #fff;
  font-weight: bold;
  margin-bottom: 0.4rem;
  font-size: 13px;
}

.card input,
.card select {
  width: 100%;
  padding: 0.45rem;
  border: 1px solid var(--color2);
  border-radius: 1rem;
  font-size: 0.9rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #1B1F28;
}

.card input:focus,
.card select:focus {
  border: 2px solid #25B244;;
  outline: none;
}

.grid-item input,
.grid-item select {
  margin-bottom: -0.01rem;
}

.card button {
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-radius: 1rem;
  background-color: #25B244;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  left: 30%;
  margin-top: 30px;
}

.card button:hover {
  background-color: #25B244;
}

.card button[type="submit_2"] {
  width: 20%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--azul1);
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 30%;
  margin-right: 10px;
  margin-top: 20px;
}

.card button[type="submit_2"]:hover {
  background-color: var(--azul2);
}

.card button[type="button"] {
  width: 20%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--rojo1);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: 30%;
  margin-top: 20px;
}

.card button[type="button"]:hover {
  background-color: var(--rojo2);
}

/*CSS TABLAS*/

.table-card {
  overflow: hidden;
  color: var(--text-color);
}

.table-card table {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  border-radius: 1rem;
  overflow: hidden;
}

.table-card table th,
.table-card table td {
  padding: 0.75rem;
  border: 1px solid #12161C;
  background-color: #12161C;
  color: #fff;
}

.table-card table td {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.table-card table th {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.table-card table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solidvar(--color2);
}

.table-card table tbody td {
  text-align: center;
}


.table-card table tr:nth-child(odd) td {
  background-color: rgba(0,0,0,.075);
}

/* CSS PARA EL GRID DE INGRESOS */

.grid-container {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding-top: -20px;
}

/* CSS para las search bar */

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-bar input{
  margin-right: 1rem;
}

.search-bar input,
.search-bar select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #12161C;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: -0.3rem;
  /* margin-right: 1rem; */
  font-size: 0.8rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #12161C;
  margin-top: 15px;}

.search-bar input:focus,
.search-bar select:focus {
  border: 2px solid #25B244;;
  outline: none;
}

.edit-button {
  background-color: #2196f3;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 0.5rem;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  font-size: 1rem;
}

.edit-button:hover {
  background-color: #0b7dda;
}

.delete-button:hover {
  background-color: #d32f2f;
}

