/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"); */

:root {  
    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    --primary: #1B1F28;
    --second: #12151E;
    --button: #1DB13E;
    --inputs: #212F3C;
    --color1: #1c1c1f;
  --color2: #31313c;
  --color3: #24242a;
  }
  

  .contact-s .rightSide-s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--second);
    padding: 2em;
    border-radius: 20px;
}
.contact-s .rightSide-s h1 {
  color: #fff;
  margin-bottom: 1em;
}

.label-contact-s {
  color: #fff;
  margin-bottom: 0.5em;
  font-size: 15px;
}
.input-contact-s, .textarea-s {
  width: 685px;
  padding: 0.8em;
  resize: none;
  border-radius: 9px;
  border: none;
  outline-color: var(--button);
  background-color: var(--inputs);
  color: #fff;
  margin-bottom: 1em;
}
.contact-form-s {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-s {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}
.buton-form-s {
  background-color: var(--button);
  color: #fff;
  transition: var(--transition);
  border: none;
  padding: 0.5em 1em;
  border-radius: 9px;
  cursor: pointer;
  font-size: 18px;
}
.buton-form-s-delete {
  background-color: var(--button);
  color: #fff;
  transition: var(--transition);
  border: none;
  padding: 0.5em 1em;
  border-radius: 9px;
  cursor: pointer;
  font-size: 18px;
  width: 100%; /* Cambia esto al ancho que desees */
}




  .card-form {
    width: 750px; /* Cambia esto al ancho que desees */
    height:500px; /* Cambia esto a la altura que desees */
    /* Asegúrate de que el contenido del cuadro no se desborde */
    overflow: auto;
  }
  .h1-form{
    color: #fff;
  }

  .card-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--second);
    padding: 2em;
    border-radius: 20px;
  }
  
  .area-card .card-form h1 {
    color: #fff;
    margin-bottom: 1em;
  }
  
  .area-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .label-form {
    color: #fff;
    margin-bottom: 0.5em;
    font-size: 15px;
  }
  
  /* width 685px height 148px */
  
  .input-form, .textarea {
    width: 685px;
    padding: 0.8em;
    resize: none;
    border-radius: 9px;
    border: none;
    outline-color: var(--button);
    background-color: var(--inputs);
    color: #fff;
    margin-bottom: 1em;
  }
  
  .buton-form {
    background-color: var(--button);
    color: #fff;
    transition: var(--transition);
    border: none;
    padding: 0.5em 1em;
    border-radius: 9px;
    cursor: pointer;
    font-size: 18px;
  }

  /* tables */

  .area-table {
    overflow: hidden;
    color: var(--text-color);
  }
  
  .area-table table {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .area-table table th,
  .area-table table td {
    padding: 0.75rem;
    border: 1px solid var(--color2);
    background-color: var(--color1);
  }
  
  .area-table table td {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  
  .area-table table th {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  
  .area-table table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solidvar(--color2);
  }
  
  .area-table table tbody td {
    text-align: center;
  }
  
  
  .area-table table tr:nth-child(odd) td {
    background-color: var(--color3);
  }
  